* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.admin-bar {
  width: 100%;
  height: 36px;
  background: #0e2031;
  color: rgb(216, 27, 27);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

/* Partie gauche */
.admin-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.wp-logo {
  width: 28px;
  height: 28px;
  background: #0073aa;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  font-weight: bold;
}

/* Liens */
.admin-link {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.admin-link:hover {
  color: white;
}

/* Partie droite */
.admin-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.admin-btn {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.admin-icon {
  color: #ccc;
  font-size: 16px;
  text-decoration: none;
}

.admin-icon:hover {
  color: white;
}
